.search-component{
    display: flex;
    .search-button{
        padding: 15px;
        margin-left:30px;
        border:none;
        border-radius: 3px;
        background-color: white ;
        font-size: 10px;
        font-weight: bold;

        &:hover{
            background-color: whitesmoke;
            border:1px solid grey;
        }
    }
    .input-search{
        padding:15px;
        width: 500px;
        border-radius: 5px;
    }
}