.cardview-component {
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
  margin: 3px;
  .card-content {
    .movie-logo-detail {
      display: flex;
      justify-content: space-around;
      margin: 10px;
      .movie-logo {
        height: 100px;
        width: 100px;
      }
      .movie-detail {
        .movie-rating {
          display: flex;
        }
      }
    }
    .movie-info {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 10px;
    }
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
